$height: 12px;
$width: 15px;

.root {
  height: $height;
  width: $width;
  font-size: 8px;
  user-select: none;
  background-color: white;
  border: 0.5px solid black;

  &:hover {
    background-color: grey;
    transition: background-color 0.1s ease-out;
  }
}
