.root {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  align-items: center;
  width: 100%;
}

.rightButtonGroup {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1em;
}
